*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
  
}

.container{
  width: 50%;
  margin: center;
}

.App{
  height: 100vh;
  width: 100%;
  background-image: url('BEST.jpg');
  background-size: cover;
  background-position: center;
}

.title{
  padding: 20px 0 40px 0;
  color: #ffffff;
}

.weather-temp{
  padding-bottom: 40px;
  padding-left: 60px;
}

.weather-temp h1 , .weather-temp h4 , .weather-temp p{
  padding-bottom: 10px;
} 

.weather-info p , .weather-info h2{
  text-align: center;
}

.user-weather{
  color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}


.navbar{
  background-color: #dddddd;
}

.mainImg{
  padding-top: 15px;
}

.region{
  margin-top: 30px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.regioninput{
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 0 50px 0 0px;
  outline: none;
  color: #000000;
}

.regioninput::placeholder{
  font-family: Nunito;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0;
}


.textbox{
  width: 50%;
  overflow: hidden;
  font-size: 20px;
  padding: 7px 0;
  margin: 8px 0;
  
} 
 .box{
   width: 300px;
   padding: 30px;
   position: absolute;
   top:600px;
   left: 850px;
   transform: translate(-50%,-50%);
    background: #000000;
    text-align: center;
    color: white;
    opacity: .8;
 }

 .box h1{
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 700;
 }

 .box input[type="text"],.box input[type="password"]{
   border: 0;
   background: none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 3px solid rgb(7, 89, 172);
   padding: 14px 10px;
   width: 150px;
   outline: none;
   color: #ffffff;
   border-radius: 24px;
   transition: 0.25px;
 }

 .box input[type="text"]:focus,.box input[type="password"]:focus{
   width: 270px;
   border-color: rgb(228, 228, 25);
 }

 .box input[type="submit"]{

  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid yellow;
  padding: 14px 35px;
  outline: none;
  color: #ffffff;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
 }

 .box input[type="submit"]:hover{
   background: yellow;
 }